absl-py==2.1.0
ale-py==0.8.1
astunparse==1.6.3
atari-py==0.2.6
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
backcall==0.2.0
cachetools==5.5.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==1.6.0
debugpy==1.7.0
decorator==5.1.1
entrypoints==0.4
future==1.0.0
gast==0.3.3
google-auth==2.37.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.3
gym==0.18.0
gym-notices==0.0.8
h5py==2.10.0
idna==3.10
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
jedi==0.19.2
jupyter_client==7.4.9
jupyter_core==4.12.0
Keras-Preprocessing==1.1.2
keras-rl2==1.0.4
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numpy==1.18.5
oauthlib==3.2.2
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.0
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==7.2.0
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==6.1.1
ptyprocess==0.7.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyglet==1.5.0
Pygments==2.17.2
python-dateutil==2.9.0.post0
pyzmq==26.2.0
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.7.3
six==1.17.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==2.3.0
tornado==6.2
tqdm==4.67.1
traitlets==5.9.0
typing_extensions==4.7.1
urllib3==2.0.7
wcwidth==0.2.13
Werkzeug==2.2.3
wrapt==1.16.0
zipp==3.15.0
